<div class="container" style="text-align: center; margin: 5%">
  <h2>Registro de ambientes</h2>
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    <mat-form-field *ngIf="edicion">
      <mat-label>Código</mat-label>
      <input matInput formControlName="hcodigo" readonly />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Ambiente:</mat-label>
      <input
        matInput
        placeholder="Nombre del Ambiente"
        formControlName="hnombre" required="true"
      />
      <mat-error *ngIf="form.get('hnombre')?.hasError('required')"
        >El nombre del ambiente es obligatorio.</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Ubicaciones</mat-label>
      <mat-select formControlName="hubicacion" required="true">
        <mat-option *ngFor="let n of niveles" [value]="n.value">
          {{ n.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('hubicacion')?.hasError('required')"
        >La ubicación es obligatorio.</mat-error
      >
    </mat-form-field>
    <br />
    <button mat-raised-button class="custom-button">Aceptar</button>
    <button mat-raised-button routerLink="/ambientes">Cancelar</button>
    <p>{{ mensaje }}</p>
  </form>
</div>
